body {
  font-family: 'Arial', sans-serif;
  background-color: #fffafc;
  color: #40002d;
  margin: 0;
  padding: 20px;
}
h1, h2 {
  color: #8e005d;
}
input {
  padding: 10px;
  font-size: 16px;
}
button {
  padding: 10px 20px;
  background-color: #8e005d;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #40002d;
}
a {
  color: #a80055;
  text-decoration: underline;
}